<%- include("../partials/header") %>

<form method="POST">
    <fieldset>
        <label for="title"></label>
        <input type="text" name="title" id="title">
        <label for="released"></label>
        <input type="date" name="released" id="released">
        <button type="submit">Add movie</button>
    </fieldset>
</form>

<%- include("../partials/footer") %>
